.container{
    height: 600px;
    width: 800px;
    background-color: ccc;
    border: 1px solid black;

    display: flex;
    flex-direction: row; /* default*/
    justify-content: space-between; 
    align-items: stretch; /* default*/        
    
    flex-wrap: wrap;
}

.item{
    min-width: 250px;
    min-height: 100px;
    background-color: orange;
    margin: 10px;
}

.item1{
    height: 110px;
}
.item2{
    height: 150px;
}
.item3{
    height: 250px;
}
.item4{
    height: 110px; 
}



.alignItems1{
    align-items: flex-start;
}

.alignItems2{
    align-items: flex-end;
}

.alignItems3{
    align-items: center;
}

