.container{
    height: 600px;
    background-color: ccc;
    border: 1px solid black;

    display: flex;
    flex-direction: row; /* default*/
    justify-content: flex-start; /* default*/
    align-items: stretch; /* default*/        

    flex-wrap: nowrap; /* default */
}

.item{
    min-width: 250px;
    min-height: 100px;
    background-color: orange;
    margin: 10px;
}

.flexWrap1{
    flex-wrap: wrap;
}

.flexWrap2{
    flex-wrap: wrap-reverse;
}

