.container{
    height: 800px;
    width: 800px;
    background-color: ccc;
    border: 1px solid black;

    display: flex;
    flex-direction: row; /* default*/
    justify-content: space-between; 
    align-items: flex-end;

    flex-wrap: wrap;

    align-content: flex-start;
}

.item{
    min-width: 250px;
    min-height: 100px;
    background-color: orange;
    margin: 10px;
}

.item1{
    height: 110px;
}
.item2{
    height: 150px;
}
.item3{
    height: 250px;
}
.item4{
    height: 110px; 
}


.alignContent1{
    align-content: flex-end;
}

.alignContent2{
    align-content: center;
}

.alignContent3{
    align-content: space-around;
}

.alignContent4{
    align-content: space-between;
}

